$primary-color-dark: #0288D1;
$primary-color: #03A9F4;
$primary-color-light: #B3E5FC;
$primary-color-text: #FFFFFF;
$accent-color: #FFEB3B;
$primary-text-color: #212121;
$secondary-text-color: #757575;
$divider-color: #BDBDBD;
$orange-soda: #E64A19;
$very-black: #000;
$whitey-white: #fff;
$greyed-out: #cccccc;
$very-orange: #e64a19;
