<!-- <nav class="navbar navbar-light bg-faded">
  <a class="navbar-brand" href="#">CALCULATOR</a>
</nav> -->

<nav class="navbar navbar-default" role="navigation">
  <div class="navbar-header navbar-brand brand-change">

    <div class='content'>
      <div class='visible'>
        <p>
          CAL
        </p>
        <ul>
          <li>CULATOR</li>
          <li>CULATED</li>
          <li>CULATES</li>
          <li>FSKINS</li>
        </ul>
      </div>
    </div>

  </div>
</nav>
